
p::first-letter {
    font-size: 2em;
    color: rgb(217, 43, 208);
}

p::first-line {
    font-weight: bold;
}

span::before {
    content: "Inicio - ";
    color: blue;
}

span::after {
    content: " - Fin";
    color: green;
}

p.before-after::before {
    content: ">>> ";
    color: purple;
}

p.before-after::after {
    content: " <<<";
    color: purple;
}

p::selection {
    background-color: yellow;
    color: black;
}
